body, html {
  background-color: ;
}

.race-track {
  background-color: #f8f8f8;
  width:  500px;
  height: 200px;
}

.race-track ul {

  width: 100%;
}

.race-track li {
  background-color: gray;
  list-style-type: none;
  display:     inline-block;
  width:       10px;
  height:      10px;
  margin-left: 10px;
}

li.active {
  background-color: #BF3205;
}

#restart {
  display: none;
}
